{% extends 'base_templates/auth_base.html' %}
{% import 'macros.html' as macro %}
{% block body %}
<div class="container-fluid p-0">
    <div class="mb-3 d-flex justify-content-center">
        <a class="logo" href="{{ url_for('main.home') }}">
            <img class="img-fluid for-light"
                src="{{ url_for('static', filename='assets/images/logo/login.png') }}" alt="loginpage">
        </a>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h5>{{ _('Account Recovery') }}</h5>
                    <span>{{ _('Please Make sure fill all the filed before click on next button.') }}</span>
                </div>
                <div class="card-body">
                    <div class="stepwizard">
                        <div class="stepwizard-row setup-panel">
                            <div class="stepwizard-step">
                                <a class="btn-light btn btn-primary" href="#step-1">1</a>
                                <p>{{ _('Account Email') }}</p>
                            </div>
                            <div class="stepwizard-step">
                                <a class="btn-light btn" href="#step-2">2</a>
                                <p>{{ _('Validate Phone Number') }}</p>
                            </div>
                            <div class="stepwizard-step">
                                <a class="btn-light btn" href="#step-3">3</a>
                                <p>{{ _('Enter O.T.P') }}</p>
                            </div>
                            <div class="stepwizard-step">
                                <a class="btn-light btn" href="#step-4">4</a>
                                <p>{{ _('Credentials') }}</p>
                            </div>
                        </div>
                    </div>
                    <form class="form-wizard" id="regForm" action="{{ url_for('auth.forgot_password') }}" method="POST">
                        <div class="tab border mb-2">
                            <div class="form-group mb-3 m-t-15">
                                <label class="col-form-label d-flex justify-content-center">{{ _('Enter Your Email Address') }}</label>
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col-10">
                                        <input class="form-control mb-1" id="exampleFormControlInput1" type="email"
                                            placeholder="email@example.com" style="text-align: center;">
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab border mb-2">
                            <div class="row">
                                <div class="col-12">
                                    <p>Complete this phone number to receive a confirmation code. <i class="icofont icofont-ui-call"></i>
                                        <strong>
                                            079*****32
                                        </strong></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Enter Phone Number</label>
                                <div class="row">
                                    <div class="col col-sm"></div>
                                    <div class="col-10 col-sm-10">
                                        <input class="form-control mb-1" type="tel" placeholder="000-000-0000">
                                    </div>
                                    <div class="col col-sm"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab border mb-2">
                            <hr>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1">Birthday:</label>
                                <input class="form-control" type="date">
                            </div>
                            <div class="mb-3">
                                <label class="control-label">Age</label>
                                <input class="form-control" placeholder="Age" type="text">
                            </div>
                            <div class="mb-3">
                                <label class="control-label">Have Passport</label>
                                <input class="form-control" placeholder="Yes/No" type="text">
                            </div>
                        </div>
                        <div class="tab">
                            <hr>
                            <div class="mb-3">
                                <label class="control-label">Country</label>
                                <input class="form-control mt-1" type="text" placeholder="Country" required="required">
                            </div>
                            <div class="mb-3">
                                <label class="control-label">State</label>
                                <input class="form-control mt-1" type="text" placeholder="State" required="required">
                            </div>
                            <div class="mb-3">
                                <label class="control-label">City</label>
                                <input class="form-control mt-1" type="text" placeholder="City" required="required">
                            </div>
                        </div>
                        <div>
                            <div class="text-end btn-mb">
                                <button class="btn btn-secondary" id="prevBtn" type="button" value="Prev"
                                    onclick="nextPrev(-1)">Previous</button>
                                <button class="btn btn-primary" id="nextBtn" type="button" value="Next"
                                    onclick="nextPrev(1)">Next</button>
                            </div>
                        </div>
                        <!-- Circles which indicates the steps of the form:-->
                        <!-- Circles which indicates the steps of the form:-->
                        <!-- Container-fluid Ends-->
                    </form>
                </div>
            </div>

            <div class="login-card">
                <div>
                    <div>
                        <a class="logo" href="index_2.html">
                            <img class="img-fluid for-light"
                                src="{{ url_for('static', filename='assets/images/logo/login.png') }}" alt="loginpage">
                        </a>
                    </div>
                    <div class="login-main">
                        <form class="theme-form">
                            <h4>Reset Your Password</h4>
                            <div class="form-group">
                                <label class="col-form-label">Enter Your Mobile Number</label>
                                <div class="row">
                                    <div class="col-4 col-sm-3">
                                        <input class="form-control mb-1" type="text" value="+ 91">
                                    </div>
                                    <div class="col-8 col-sm-9">
                                        <input class="form-control mb-1" type="tel" value="000-000-0000">
                                    </div>
                                    <div class="col-12">
                                        <div class="text-end">
                                            <button class="btn btn-primary btn-block m-t-10" type="submit">Send</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 mb-4">
                                <span class="reset-password-link">If don't receive OTP?&nbsp;&nbsp;
                                    <a class="btn-link text-danger" href="javascript:void(0)">
                                        Resend
                                    </a>
                                </span>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label pt-0">Enter OTP</label>
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control text-center opt-text" type="text" value="00"
                                            maxlength="2">
                                    </div>
                                    <div class="col">
                                        <input class="form-control text-center opt-text" type="text" value="00"
                                            maxlength="2">
                                    </div>
                                    <div class="col">
                                        <input class="form-control text-center opt-text" type="text" value="00"
                                            maxlength="2">
                                    </div>
                                </div>
                            </div>
                            <h6 class="mt-4">Create Your Password</h6>
                            <div class="form-group">
                                <label class="col-form-label">New Password</label>
                                <div class="form-input position-relative">
                                    <input class="form-control" type="password" name="login[password]" required=""
                                        placeholder="*********">
                                    <div class="show-hide"><span class="show"></span></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Retype Password</label>
                                <input class="form-control" type="password" name="login[password]" required=""
                                    placeholder="*********">
                            </div>
                            <div class="form-group mb-0">
                                <div class="checkbox p-0">
                                    <input id="checkbox1" type="checkbox">
                                    <label class="text-muted" for="checkbox1">Remember password</label>
                                </div>
                                <button class="btn btn-primary btn-block w-100 mt-3" type="submit">Done </button>
                            </div>
                            <p class="mt-4 mb-0 text-center">Already have an password?<a class="ms-2"
                                    href="login_2.html">Sign in</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}